.container
.container--marcasTitle{
  color: #727273;
  justify-content: center;
  text-align: center;
}

.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: start;
  text-align: center;
  padding-left: 2rem;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}
.paragraph{
  font-family: 'Share Tech',sans-serif;
  color: black;
  font-weight: bold;
}
@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.paragraph
.paragraph--deals{
  color: black !important;

}

.paragraph--about{
  font-weight: 100;
  font-family: 'PT Sans', sans-serif;
  font-size: .8rem;
}

.wrapper--title-about-us
.paragraph--title{
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  margin-top: 1.2rem;
  margin-bottom: .8rem;
}
.paragraph--title-text-login,
.paragraph--content-login-left{
  color: white;
}
.paragraph--title-text-login{
  margin-top: 0px;
  margin-bottom: 0px;
}
.link--content-login-left{
  text-decoration: none;
  color: white;
}


.headingLevel6--titulo-sobre{
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  font-size: 1.2rem !important;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold !important;
}

.headingLevel4--titulo-sobre{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold !important;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.container--shelfTitle-prof{
  display: none;
}

.paragraph--texto-prof-formula{
  color: rgb(0, 0, 0);
}

.link--texto-prof-formula{
  color: rgb(182, 182, 182);
}

.link--textColumn{
  color: rgb(247, 84, 84);
}

.listItem--textColumn
.paragraph--textColumn{
  padding-left: 1rem;
}

.listItem--textColumn::marker{
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
}

@media(min-width: 991px){
  .listOrdered--textColumn{
    margin-left: 2rem;
  }
}

.headingLevel5--titulo-trabaja{
  color: rgb(247, 84, 84);
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.container--titulo-trabaja,
.container--txt-trabaja{
  justify-content: center;
}

.paragraph--txt-trabaja{
  font-family: 'PT Sans', sans-serif;
  font-weight: 200;
}
.paragraph--txt-trabaja{
  text-align: center;
}
.link,
.link--txt-trabaja{
  color: rgb(247, 84, 84);
}

:global(.vtex-flex-layout-0-x-flexCol--textColumn-trabaja){
  justify-content: center;
}

:global(.vtex-flex-layout-0-x-flexColChild--textColumn-trabaja){
  text-align: center;
  align-self: center;
}

:global(.vtex-disclosure-layout-1-x-trigger--question--visible),
:global(.vtex-disclosure-layout-1-x-trigger--question--visible)
.paragraph{
  color: rgb(247, 84, 84) !important;
}

:global(.vtex-disclosure-layout-1-x-trigger--question):focus,
:global(.vtex-disclosure-layout-1-x-trigger--question):focus
.paragraph{
  color: rgb(247, 84, 84) !important;
}

/* T I E N D A S */
.container--titulo-tiendas
.headingLevel6--titulo-tiendas{
  font-family: 'PT Sans', sans-serif;
  color: rgb(247, 84, 84);
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0rem !important;
}
.paragraph--info-tiendas{
  font-family: 'PT Sans', sans-serif;
  font-size: .8rem;
  font-weight: 200;
}

:global(.vtex-tab-layout-0-x-container--tiendas)
:global(.vtex-tab-layout-0-x-listItem)
:global(.vtex-button){
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-weight: 400;
}

:global(.vtex-tab-layout-0-x-container--tiendas)
:global(.vtex-tab-layout-0-x-listItem)
:global(.vtex-button):focus,
:global(.vtex-tab-layout-0-x-container--tiendas)
:global(.vtex-tab-layout-0-x-listItem)
:global(.vtex-button):active,
:global(.vtex-tab-layout-0-x-container--tiendas)
:global(.vtex-tab-layout-0-x-listItem)
:global(.vtex-button):hover{
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: rgb(247, 84, 84);
  border-radius: 0px;
  transition: all 0.2s ease-out;
}
:global(.vtex-tab-layout-0-x-container--tiendas)
:global(.vtex-tab-layout-0-x-listItemActive)
:global(.vtex-button){
  background-color: transparent;
  border-bottom: 5px solid rgb(247, 84, 84);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.headingLevel4--titulo-tiendas{
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

@media(max-width: 990px){
  .container--titulo-tiendas{
    justify-content: center;
  }
  .container--info-tiendas{
    justify-content: center;
  }
}

/* Pie del formulario */

.container--rich-titulo-prof-pie{
  font-size: 25px;
  padding-left: 34%;
}

.container--rich-subtitulo-prof-pie{
  font-size: 15px;
  padding-left: 34%;
  
}

.paragraph--rich-subtitulo-prof-pie{
  font-weight: 300;
}

.wrapper--rich-titulo-prof-pie{
  
}