.buttonSave{
    background: #F75454;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    font-family: 'PT Sans',sans-serif;
    border: none;
    font-weight: bold;
}
.refreshButton{
    background: #f5f5f5;
    border-radius: 0px;
    border-color: black;
    color: black;
    font-family: 'PT Sans',sans-serif;
    border: 1px;
    border-style: solid;
    font-weight: bold;
}

.containerList
:global(.vtex-pageHeader__title){
    font-family: 'PT Sans', sans-serif;
}